body {
	background: repeating-linear-gradient(135deg, #eee 0, #eee 5%, #f8f8f8 0, #f8f8f8 50%) 0/20px 20px;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

#resume {
	margin: 80px auto;
	max-width: 800px;
	padding: 80px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 10px 0 rgba(69,129,208,0.12);
}

#contact-info p {
	margin: 0;
}

.sectionLine {
	border-style: solid;
	border-width: 1px;
	border-color: #f3f3f3;
	margin-top: 10px;
	margin-bottom: 10px;
}

.section-single { padding-top: 1em; }
.section-double { padding-top: 1em; }

.section-header h3{ margin: 0 }
.section-item { overflow:hidden; }
.section-item div { padding: 10px; }
.timeframe {
	float:left;
	padding: 0;
}
.timeframe p {
	min-width: 130px;
	max-width: 130px;
	text-align: right;
	margin: 0;
}
.content {
	overflow:hidden;
	padding: 0;
}
.content p {
	margin: 0;
}

@media only screen and (max-width: 40em) {
	body {
		margin: 0;
		font-size: 14px;
	}
	#resume {
		margin: 0 auto;
		max-width: 800px;
		padding: 0.5em 1em;
		border: none;
	}
	.timeframe { 
		float: none;
		margin-right:0;
	}
	.timeframe p {
		max-width: initial;
		min-width: auto;
		text-align: center;
		font-weight:bold;
	}
	.content p{ text-align: center; }
	.section-body {
		width: auto;
		margin-left: 0;
	}
	.section-header {
		width: auto;
		position: relative;
	}
	.section-header h1 {
		text-align: center
	}
	#contact-info {
		margin-left: 0;
		text-align: center;
	}
}